.destination {
  width: calc(100% - 4px);
  margin: 2px;
  padding: 15px;
  display: flex;
  color: #fff;
  border-bottom: 1px solid #ccc;
  font-family: 'Open Sans', sans-serif;
  justify-content: space-between;
  color: #555;
  font-size: 16px;

  &:last-child {
    border: none;
  }
}

.button--checkbox {
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-right: 10px;
  background: #fff;
  margin-top: 2px;
  cursor: pointer;
  transition: 0.15s;

  &:hover {
    background: #384C7A;
    opacity: 0.7;
  }
}

.button--checked {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  font-size: 18px;
  margin-top: -2px;
  cursor: pointer;

  &:hover {
    opacity: 0.65;
    transition: 0.15s;
  }
}

.button--delete {
  margin-top: 2px;
  color: #999;
  cursor: pointer;
  transition: 0.15s;

  &:hover {
    color: #FF5A5F;
  }
}
