.destinations {
  &__section {
    background: #fff;
    overflow: auto;
    margin: 2px;
    padding-bottom: 3px;
    box-shadow: 0px 2px 1px rgba(0,0,0,0.2)
  }
}


// MEDIA QUERIES

@media screen and (min-width: 768px) {
  body .destinations {
    &__section {
      width: calc(50% - 4px);
      float: left;
    }
  }
}
