.login {
  height: 100%;
  width: 100%;
  overflow: auto;

  &__backdrop {
    background: #000;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &__container {
    z-index: 10;
    position: relative;
    padding: 30px;
    text-align: center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__h1 {
    font-family: 'Scada', 'Open Sans', sans-serif;
    font-size: 42px;
    letter-spacing: 3.5px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__h2 {
    font-family: 'Scada', 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #fff;
    opacity: 0.8;
    font-weight: 300;
  }

  &__input {
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    box-shadow: none;
    font-family: 'Scada', 'Open Sans', sans-serif;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;

    &::-webkit-input-placeholder {
      color: #ccc;
      font-weight: 300;
    }
  }
}

.button--login {
  background: #FF5A5F;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 18px;
  padding: 10px;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translateX(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }

  20%, 80% {
    transform: translateX(1px);
  }

  30%, 50%, 70% {
    transform: translateX(-3px);
  }

  40%, 60% {
    transform: translateX(2px);
  }
}
